body {
  margin: 0;
  font-family: 'Garamond', 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f0f0f;
  color: #ffffff;
  overflow: hidden;
}

code {
  font-family: 'Courier New', monospace;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}
